.nav__menu {
    position: fixed;
    inset-block: 0;
    left: -100%;
    background-color: var(--container-color);
    width: 100%;
    padding: 60px 30px;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 100;
}

.show-menu{
    left: 0;
}

.nav__link {
    display: flex;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid var(--border-color);
    padding-block: 14px;

}


.nav__icon,
.nav__name {
    color: var(--title-color);
    font-size: 24px;
}

.nav__name{
    font-weight: var(--weight-500);
}

.active-nav .nav__icon,
.active-nav .nav__name {
    color: var(--first-color)
}


.nav__toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: var(--container-color);
    border-radius: 5px;
    padding: 12px 10px;
    z-index: 100;
}

.nav__toggle span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--title-color);
    margin-bottom: 5px;
    transition: all .3s ease-in-out
}

.animate-toggle span:first-child {
    transform: rotate(45deg) translate(6px, 4px);
    transition: all .3s ease-in-out
}

.animate-toggle span:nth-child(2) {
    display: none;
    transition: all .3s ease-in-out
}

.animate-toggle span:last-child{
    transform: rotate(-45deg) translate(1px, 1px);
    transition: all .3s ease-in-out
}


@media screen and (min-width: 1024px){
    .nav__menu {
        all: unset;
    }

    .nav__toggle{
        display: none;
    }

    .nav {
        position: fixed;
        inset-block: 0;
        right: 30px;
        display: flex;
        align-items: center;
        z-index: 100;
    }

    .nav__item {
        margin-block: 20px;
    }

    .nav__link {
        padding: 0;
        border-bottom: none;
        background-color: var(--container-color);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }

    .nav__name {
        position: absolute; 
        top: 0 ;
        right: 14px;
        background-color: var(--first-color);
        height: 100%;
        line-height: 50px;
        padding-inline: 30px 25px;
        border-radius: 30px;
        font-size: var(--small-font-size);
        color: var(--text-white);
        opacity: 0;
        visibility: hidden;
        transition: right .2s ease-in-out;
    }
    .nav__icon {
        font-size: 20px;
        margin-inline: auto;
    }
    .nav__link:hover .nav__name {
        right: 27px;
        color: var(--text-white);
        opacity: 1;
        visibility: visible;
        border-radius: 30px 5px 5px 30px;
    }
    .nav__link:hover,
    .active-nav{
        background-color: var(--first-color);
    }
    .nav__link:hover .nav__icon,
    .active-nav .nav__icon{
        color: var(--text-white);
        z-index: 999;
    }
}

@media screen and (max-width: 576px) {
    .nav__toggle {
        top: 20px;
        right: 25px;
    }

    .nav__link {
        column-gap: 20px;
    }

    .nav__icon,
    .nav__name {
        font-size: var(--h3-font-size);
    }
}