/*================= GOOGLE FONTS =================*/
  @import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Open+Sans:wght@400;500;600;700;800&display=swap');

  /*================= CSS VARIABLES =================*/

:root {
    --first-color: hsl(271, 76%, 53%);
    --title-color: hsl(0, 0%, 40%);
    --title-color: hsl(0, 0%, 50%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 93%);
    --border-color: hsl(0, 0%, 87%);
    --text-white: #fff;

    --body-font: "Open Sans', sans-serif";
    --second-font: 'Poppins, sans-serif';

    --big-font-size: 56px;
    --h1-font-size: 50px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 12px;

    --weight-400: 400;
    --weight-400: 500;
    --weight-400: 600;
    --weight-400: 700;
    --weight-400: 800;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}


h1,
h2,
h3,
h4{
    color: var(--title-color);
    font-family:var(--second-font);
    font-weight: var(--weight-700);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}


button,
input,
textarea{
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}